# Ignore all __pycache__ directories and compiled Python files
__pycache__/
*.pyc

# Ignore specific test files
test_lexer.py
test_parser.py
test_standardizer.py
test_cse_machine.py
test_cases
rpal_runner.py
parse_interface.py